<div class="col-12 d-grid gap-2" style="min-width: 310px">
    <div class="row g-1 align-items-center ">
        <div hidden>
            {{ form.id }}
            {{ formset.id }}
            {{ formset.persona }}
        </div>
        <div class="row" style="width: 20%; min-width: 160px;">
            {{ form.personeria.label }}
            {{ form.personeria }}
        </div>
        <div class="row" style="width: 20%; min-width: 120px">
            {{ form.sexo.label }}
            {{ form.sexo }}
        </div>
        <div class="row" style="width: 20%; min-width: 120px">
            {{ formset.estado.label }}
            {{ formset.estado }}
        </div>
    </div>
    <div class="row g-1 align-items-center ">
        <div class="row" style="width: 20%; min-width: 120px">
            {{ form.tip_documento.label }}
            {{ form.tip_documento }}
        </div>
        <div class="row" style="width: 20%; min-width: 120px">
            {{ form.nro_documento.label }}
            {{ form.nro_documento }}
        </div>
        <div class="row" style="width: 40%; min-width: 300px">
            {{ form.razon_social.label }}
            {{ form.razon_social }}
        </div>
        <div class="row" style="width: 20%; min-width: 60px">
            {{ form.fecha_nac_const.label }}
            {{ form.fecha_nac_const }}
        </div>

    </div>
    <div class="row g-1 align-items-center ">
        <div class="row" style="width: 20%; min-width: 120px">
            {{ form.tip_documento_pers.label }}
            {{ form.tip_documento_pers }}
        </div>
        <div class="row" style="width: 20%; min-width: 120px">
            {{ form.nro_documento_pers.label }}
            {{ form.nro_documento_pers }}
        </div>
        <div class="row" style="width: 20%; min-width: 60px">
            {{ form.fec_venc_doc_pers.label }}
            {{ form.fec_venc_doc_pers }}
        </div>
        <div class="row" style="width: 20%; min-width: 60px">
            {{ form.email.label }}
            {{ form.email }}
        </div>
    </div>
    <div class="row g-1 align-items-center ">
        <div class="row" style="width: 30%; min-width: 160px;">
            {{ form.nombre.label }}
            {{ form.nombre }}
        </div>
        <div class="row" style="width: 30%; min-width: 250px;">
            {{ form.apellido.label }}
            {{ form.apellido }}
        </div>

    </div>
    <div class="row g-1 align-items-center ">
        <div class="row" style="width: 60%; min-width: 300px">
            {{ form.direccion.label }}
            {{ form.direccion }}
        </div>
        <div class="row" style="width: 40%; min-width: 400px">
            {{ form.dir_geo.label }}
            {{ form.dir_geo }}
        </div>
    </div>

    <div class="row g-1 align-items-center ">

        <table id="formset" class="form">
            {{ formset.management_form }} {# Nooooooooooo olvidar esta linea #}
            {% for form in formset.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    {% for field in form.visible_fields %}
                        <td>
                            {#                        Include the hidden fields in the form#}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>


    </div>
</div>