{% load js_functions %}
<div class="demo-html">
    <div id="example_wrapper_{% simple_tag_uuid %}" class="dataTables_wrapper">
        <table id="{% simple_tag_uuid %}" class="display dataTable" style="width: 100%;"
               aria-describedby="example_info">
            <thead>
            <tr>
                <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    style="width: 58px;" aria-sort="ascending"
                    aria-label="Position: activate to sort column descending">id
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;"
                    aria-label="Position: activate to sort column ascending">Nombre
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;"
                    aria-label="Position: activate to sort column ascending">Apellido
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 123px;"
                    aria-label="Position: activate to sort column ascending">Fecha Ingreso
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 120px;"
                    aria-label="Position: activate to sort column ascending">Fecha Egreso
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;"
                    aria-label="Position: activate to sort column ascending">Email
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 8px;"
                    aria-label="Office: activate to sort column ascending">Direccion
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 8px;"
                    aria-label="Office: activate to sort column ascending">Nro Documento
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 8px;"
                    aria-label="Position: activate to sort column ascending">
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 8px;"
                    aria-label="Office: activate to sort column ascending">
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

