# todo activar en produccion la cache de templates porque el renderizado es lento
asgiref>=3.5.0
Django>=4.0.6
numpy>=1.23.1
pandas>=1.4.3
python-dateutil>=2.8.2
pytz>=2022.1
six>=1.16.0
psycopg2>=2.9.3
sqlparse>=0.4.2
tzdata>=2021.5
setuptools>=63.1.0
filelock>=3.4.2
pip>=22.0.3
pipenv>=2022.7.4
pip-review>=1.1.1
virtualenv>=20.15.1
virtualenv-clone>=0.5.7
django-tenants>=3.4.2
django-crispy-forms>=1.14.0
django-extensions>=3.2.0
pytest>=7.1.1
# pywhatkit>=5.4 # libreria para envio de mensajes por whatssapp ---> tal vez sea reemplazado por Twilio
