{% load static %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accesosdirectos.js' %}"></script>
<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
<script type='text/javascript' src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/datatables/buttons.print.min.js' %}"></script>


{#pruebas de menu#}
<script type="text/javascript" src="{% static 'bootstrap502/js/bootstrap.bundle.js' %}"></script>


{#datatables#}



