{% load js_functions %}
{#https://www.youtube.com/watch?v=-RzLQ9V_97k#}
{#<div>Esto es para probar: {% simple_tag_uuid as asd %}</div>#}
{#{% simple_tag_uuid as asd %} #}
{#{{ asd }}#}

<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-5 fw-semibold">SAAS SYSTEMS</span>
    </a>
    <ul id="linktabs" class="list-unstyled ps-0">
        {% for x in menu %}
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#{{ x.desc_larga }}" aria-expanded="false">
                    {{ x.desc_larga }}
                </button>
                <div class="collapse" id="{{ x.desc_larga }}" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% for y in sub_menu %}
                            {% if x.id == y.menu.id %}
                                <li><a id={% simple_tag_uuid %} href="#" url="{{ y.url }}" class="link-dark rounded">{{ y.desc_larga }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="true">
                Account
            </button>
            <div class="collapse show" id="account-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New...</a></li>
                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
