<div class="contenedor-tabs">
    <div id="cabecera-tabs" class="cabecera-tabs">
        <ul id="idul" class="contenedor-ul">
            <li id="tab_dashboard" tab_id='dashboard' class="activo">Dashboard</li>
        </ul>
    </div>
    <div id='detalle-tabs' class="detalle-tabs">
        <div id="block_dashboard" block_id='dashboard' class="bloque activo">
            <ul id="idpruebasul" class="classcualquiercosa" style="background: #0c4128">
                <li style="background: #0dcaf0">Uno</li>
                <li style="background: #0dcaf0">Dos</li>
                <li style="background: #0dcaf0">Tres</li>
                <li style="background: #0dcaf0">Cuatro</li>
                <li style="background: #0dcaf0">Cinco</li>
                <li style="background: #0dcaf0">Seis</li>
                <li style="background: #0dcaf0">Siete</li>
                <li style="background: #0dcaf0">
                    <ul id="asdfasdf" style="background: red">
                        <li style="background: #6f42c1">Uno
                            <p id="idp">hola mundo este es el tag P</p>
                        </li>
                        <li style="background: #6f42c1">Dos</li>
                        <li style="background: #6f42c1">Tres</li>
                        <li style="background: #6f42c1">Cuatro</li>
                        <li style="background: #6f42c1">Cinco</li>
                        <li style="background: #6f42c1">Seis</li>
                        <li style="background: #6f42c1">Siete</li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</div>
