    <div class="container border border-1 ">
        <div class="row" style="min-width: 620px">
            <ul id="tab-principal" class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="cabecera" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Dashboard
                    </button>
                </li>
            </ul>
            <div id="tab-contenido" class="tab-content">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="cabecera" tabindex="0">
                    <h1>Aqui estara el Dashboard</h1>
                </div>
            </div>

        </div>
    </div>
{#<div class="contenedor-tabs">#}
{#    <div id="cabecera-tabs" class="cabecera-tabs">#}
{#        <ul id="idul" class="contenedor-ul">#}
{#            <li id="tab_dashboard" tab_id='dashboard' class="activo">Dashboard</li>#}
{#        </ul>#}
{#    </div>#}
{#    <div id='detalle-tabs' class="detalle-tabs">#}
{#        <div id="block_dashboard" block_id='dashboard' class="bloque activo">#}
{#            <ul id="idpruebasul" class="classcualquiercosa" style="background: #0c4128">#}
{#                <li style="background: #0dcaf0">Uno</li>#}
{#                <li style="background: #0dcaf0">Dos</li>#}
{#                <li style="background: #0dcaf0">Tres</li>#}
{#                <li style="background: #0dcaf0">Cuatro</li>#}
{#                <li style="background: #0dcaf0">Cinco</li>#}
{#                <li style="background: #0dcaf0">Seis</li>#}
{#                <li style="background: #0dcaf0">Siete</li>#}
{#                <li style="background: #0dcaf0">#}
{#                    <ul id="asdfasdf" style="background: red">#}
{#                        <li style="background: #6f42c1">Uno#}
{#                            <p id="idp">hola mundo este es el tag P</p>#}
{#                        </li>#}
{#                        <li style="background: #6f42c1">Dos</li>#}
{#                        <li style="background: #6f42c1">Tres</li>#}
{#                        <li style="background: #6f42c1">Cuatro</li>#}
{#                        <li style="background: #6f42c1">Cinco</li>#}
{#                        <li style="background: #6f42c1">Seis</li>#}
{#                        <li style="background: #6f42c1">Siete</li>#}
{#                    </ul>#}
{##}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
