{% load js_functions %}

{% simple_tag_uuid as form_id %}


<form id="form_{{ form_id }}" method="post">{% csrf_token %}
    <div class="container border border-1 ">
        <div class="row" style="min-width: 620px">
            <ul id="myTab-cliente" class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="cabecera-cliente" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane-cliente"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Datos Cliente
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="tab-cliente-sucursal" data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane-cliente-sucursal"
                            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Cliente
                        Sucursal
                    </button>
                </li>
            </ul>
            <div id="myTabContent-cliente" class="tab-content">
                <div class="tab-pane fade show active" id="home-tab-pane-cliente" role="tabpanel"
                     aria-labelledby="cabecera-cliente"
                     tabindex="0">

                    {% include 'clientes_crearmod_cab.html' %}

                </div>
                <div class="tab-pane fade" id="profile-tab-pane-cliente-sucursal" role="tabpanel"
                     aria-labelledby="tab-cliente-sucursal"
                     tabindex="0">

                    {% include 'clientes_sucursales.html' %}

                </div>
            </div>

        </div>
    </div>


</form>
<hr>
<button type="button" form="form_{{ form_id }}" class="btn btn-primary"
        onclick="guardarformulario('form_{{ form_id }}', '{{ url_guardar }}')"> Guardar
</button>






